nav{
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  margin-left: 2rem;
}
.search-input{
  background: #f3f3f3;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
  width: 14rem;
}
.nav-icons{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}