.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}
.card{
  padding: 20px;
  border: 2px solid #ededed;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.card-img{
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  object-fit: contain;
}
.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}